<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/main.css" rel="stylesheet">
  <title>Rad Lib</title>
    </head>
  <body

    <h1><%= @title %></h1>

    <div class="container">
      <div id="banner">
        <h1>!!!Mad Libs!!!</h1>  
      </div>

      <div id="centerfold">
        <a href="home"><h2>Home</h2></a>
        <a href="upload"><p>Upload a file</p></a>
        <%= yield %>
        
        <div id="files" class="files">

        </div>

      </div>
    </div>
  </body>
    <footer>
      <p>Copyright &copy;2018 Tu-Tu Group</p>
    </footer>
</html>