
  
<form action="/testing" method="POST">
<%i=0%>
<% @words.each do |word| %>
<%i+=1%>
<%message = "message#{i}"%>
<label>Enter a <%= word%>: </label>
<input type="text" name="<%=message%>">
<% end %> 
<button type="submit">Submit!</button>
</form>

  