/* colors: #B7B807, #0093FF, #FEFF40, #CC0703, #B22724*/

html {
    min-width: 100%;
    min-height: 100%;
     background-size: 100% auto;
     background-color: #702CF7;
}

h1{
    color: #FFF;
}

h2 , h3{
    color: #702CF7;
    margin-left: 45%;
    width: 300px;
    
}

.content h2 {
    margin-left: 0;
    width: 100%;
    text-align: center;
}

#content {
    text-align: center;
    color: #420DAB;
    font-size: 25px;
    background: #702CF7;
}

.grid{
    color: #420DAB;
    display: grid;
    width : 500px;
    margin-left: 40%;
}

.gridGrid {
    grid-row-gap: 50px;
    display: grid;
}

#botGrid {
    margin-left: 46%;
}

.gridGridItem {
    margin-top: 10px;
    margin-bottom: 50px;
    grid-column: 1;
    width: 50px;
}

.gridItem {
    grid-row: 1;
}


#canvas {
    border: #702CF7 solid 3px;
    margin: 5px;

}

#graph {
    align-content: center;
}


#banner {
    padding: 2% 10%;
    background-color: #702CF7;
    overflow: hidden;
}

#centerfold {
    margin: auto;
    min-height: 400px;
    height: 70%;
    width: 65%;
    background-color: #FFF;
    padding:  5% 5%;
}


footer {
    background-color: #702CF7;
    color: #FFF;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center; 
}